<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="w-full h-full text-white bg-zinc-900 p-10">
    <form action="/update/<%= user._id %>" method="post">
        <div>
            <a class="text-blue-500" href="/">Home</a>
            <h1 class="text-3xl mt-5 mb-5">Update User</h1>
            <input class="px-5 block mb-5 py-2 bg-zinc-800 rounded-lg border-2 border-zinc-800 outline-none"
                placeholder="Name" name="name" value="<%= user.name %>" type="text" />
            <input class="px-5 px-5 block mb-5 py-2 bg-zinc-800 rounded-lg border-2 border-zinc-800 outline-none"
                placeholder="Email" name="email" value="<%= user.email %>" type="text" />
            <input class="px-5 px-5 block mb-5 py-2 bg-zinc-800 rounded-lg border-2 border-zinc-800 outline-none"
                placeholder="Image Url" name="image" value="<%= user.image %>" type="text" />
            <input class="px-5 px-5 block mb-5 py-2 bg-yellow-500 rounded-lg" value="Update User" type="submit" />
        </div>
    </form>
</body>

</html>