<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="w-full h-full text-white bg-zinc-900 p-10">
    <a class ="text-blue-500 " href="/">Home</a>
    <h1 class="text-3xl mt-5 mb-5">All Users</h1>

    <div class="users flex flex-wrap gap-5">

      <div class="user max-w-72 p-4 bg-zinc-800 rounded-lg">
        <div class="w-full h-52 mb-5 rounded-lg bg-red-500"></div>
        <h3 class="text-xl tracking-tigheter">Sulaiman</h3>
        <h5 class="text-zinc-500">sulemansyed@gmail.com</h5>
        <div class="flex justify-between mt-8">
          <a class="text-blue-500" href="">Edit</a>
          <a class="text-blue-500" href="">Delete</a>
        </div>
      </div>

      <div class="user max-w-72 p-4 bg-zinc-800 rounded-lg">
        <div class="w-full h-52 mb-5 rounded-lg bg-red-500"></div>
        <h3 class="text-xl tracking-tigheter">Sulaiman</h3>
        <h5 class="text-zinc-500">sulemansyed@gmail.com</h5>
        <div class="flex justify-between mt-8">
          <a class="text-blue-500" href="">Edit</a>
          <a class="text-blue-500" href="">Delete</a>
        </div>
      </div>
    </div>
  </body>
</html>
